@import url('https://fonts.googleapis.com/css2?family=Ole&display=swap');

:root {
    --fundo: #CCC;
    --fonte: #000;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ole", cursive;
    font-weight: 400;
    font-style: normal;;
    background-color: var(--fundo);
    color: var(--fonte);
}

.box1 {
    background-color: #BBB;
    border: 2px solid black;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    height: 300px;
}

.box2 {
    background-color: #FF0;
}

span {
    background-color: #000066;
    color: #FFF;
}

p {
    background-color: #006666;
    color: #FFF;
} 

button {
    background-color: #EEE;
    color: #082;
    border: 2px solid #067;
    border-radius: 5px;
}