body { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: #CCC;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    }

nav .logo {
    background-color: #999;
    font-weight: bold;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    margin: 0;
    list-style: none;
    padding: 0;
    gap: 20px;
    display: flex;
    
}

nav .buttons {
    display: none
}

nav .buttons button {
    margin-top: 3px;
    background-color: #BBB;
    color: #000;
    border: none;
}

@media (width > 500px) {
    nav .buttons {
    display: flex;
    flex-direction: column;
}
}